.conatiner-redes {
  min-height: 100vh;
  overflow-x: hidden;
  &__general {
    width: 54.584%;
    margin: 0 auto;
    &__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 1%;
      height: 100%;
      position: relative;
      padding-top: 1.197916vw;
      margin-bottom: 5%;
      &.second-view {
        .conatiner-redes__general__items--item {
          &:not(.flujogramas, .second-list) {
            opacity: 0;
            transform: translate(100%, 0);
          }
          &.flujogramas#item--5 {
            transform: translate(
                calc(-306% + 18.28125vw),
                calc(-54% + 4.0104166667vw)
              )
              scale(1.546783);
            position: relative;
            // &::before{
            //     content: '';
            //     position: absolute;
            //     width: 100%;
            //     height: 100%;
            //     left: 0;
            //     top: 0;
            //     background: url('/img/normal.png') center/contain no-repeat;
            // }
            // &::after{
            //     content: '';
            //     position: absolute;
            //     width: 30%;
            //     height: 100%;
            //     background: url('/img/Shine.png') center/contain no-repeat;
            //     right: 0;
            //     top: 0;
            //     z-index: -1;
            //     mix-blend-mode: color-dodge;
            // }
            .content-info {
              background: #3834e4;
            }
          }
        }
        #second-list-item--1{
          z-index: 99;
        }
      }
      &.second-list {
        opacity: 0;
        position: absolute;
        transition: all 0.5s ease;
        &.active {
          opacity: 1;
        }
      }
      &--item {
        height: 20.625vw;
        width: 32.634%;
        transition: all 1.5s ease;
        cursor: pointer;
        &:not(#item--1, #item--2) {
          margin-top: -9%;
        }
        &#item--1,
        &#item--2,
        &#item--6,
        &#item--7 {
          width: 49.237%;
          .content-info {
            width: 66.28%;
          }
        }
        &#item--3,
        &#item--4,
        &#item--5 {
          width: 32.634%;
        }
        &#item--1 {
          .content-info {
            box-shadow: 2px 3px 3px 0px #a1fcffcc;
            background: #48ecc4 url("/img/green.svg") center/48.24561403508772%
              no-repeat;
            margin: 0 0 0 auto;
          }
        }
        &#item--2 {
          .content-info {
            box-shadow: 2px 3px 3px 0px #f886c5cc;
            background: #ff5c34 url("/img/orange.svg") center/48.24561403508772%
              no-repeat;
            margin: 0 auto 0 0;
          }
        }
        &#item--3 {
          .content-info {
            box-shadow: 2px 3px 3px 0px #85ffffcc;
            background: #08e4fc url("/img/blue-c.svg") center/48.24561403508772%
              no-repeat;
            margin: 0 auto 0 0;
          }
        }
        &#item--4 {
          position: relative;
          pointer-events: none;
          .content-info {
            box-shadow: 2px 3px 3px 0px #85ffffcc;
            // background: #5033b4 url("/img/purple.svg") center/48.24561403508772% no-repeat;
            margin: 0 auto 0 0;
          }
          &::before {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 252%;
            height: 221%;
            background: url("/img/hex-center.svg") center/contain no-repeat;
          }
        }
        &#item--5 {
          .content-info {
            box-shadow: 2px 3px 3px 0px #85ffffcc;
            background: #3834e4 url("/img/blue-o.svg") center/48.24561403508772%
              no-repeat;
            margin: 0 auto 0 0;
          }
        }
        &#item--6 {
          .content-info {
            box-shadow: 2px 3px 3px 0px #85ffffcc;
            background: #8824fc url("/img/purple.svg") center/48.24561403508772%
              no-repeat;
            margin: 0 0 0 auto;
          }
        }
        &#item--7 {
          .content-info {
            box-shadow: 2px 3px 3px 0px #85ffffcc;
            background: #e8446c url("/img/pink.svg") center/48.24561403508772%
              no-repeat;
            margin: 0 auto 0 0;
          }
        }
        &#second-list-item--1,
        &#second-list-item--2 {
          position: absolute;
          width: 36.546%;
          height: 42.647%;
          opacity: 0;
          transform: scale(0.5);
          transition: all 1.5s ease;
          a {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 99;
          }
          .content-info {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          h4 {
            font-family: var(--font-geist-mulishBlack);
            font-size: 2.708333333333333vw;
            line-height: 3.385416vw;
          }
        }
        &#second-list-item--1 {
          background: url("/img/Hexagono_Purple.svg") center/contain no-repeat;
          position: absolute;
          top: calc(5vw + 7.65625vw);
          left: calc(23vw + 1.66666666vw);
          z-index: -99;
          h4 {
            display: flex;
            flex-direction: column;
            span {
              &.span--2 {
                margin-left: 2.5vw;
              }
            }
          }
        }
        &#second-list-item--2 {
          bottom: 0;
          left: 14vw;
          background: url("/img/Hexagono_Blue.png") center/contain no-repeat;
          .content-info {
            padding: 0 9%;
          }
          h4 {
            font-size: 2.291666vw;
            font-family: var(--font-geist-mulishBlack);
            line-height: 1.9791666vw;
          }
        }
        &__content-info {
          height: 100%;
          clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
          display: flex;
          align-items: center;
          justify-content: center;
          &__title {
            font-family: var(--font-geist-mulishBlack);
            font-size: 2.34375vw;
            line-height: 2.916667vw;
            color: white;
            font-weight: 900;
          }
        }
      }
      &.second-view{
        #second-list-item--1, #second-list-item--2{
            opacity: 1;
            transform: scale(1);
        }
      }
    }
    &__button{
      position: absolute;
      width: 6.09375vw;
      height: 6.6145833vw;
      background: url('/img/arrow.svg') center/contain no-repeat;
      top: calc(100vh - 6.6145833vw - 2.3958333vw);
      left: 2.4479167vw;
    }
  }
}
@keyframes traslado {
  to {
    transform: translate(
      calc(-133% + 18.28125vw),
      calc(-158% + 4.010416666667vw)
    );
  }
}

/* Animación para el cambio de ancho */
@keyframes cambioAncho {
  to {
    width: 50%;
  }
}
